<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name= "description" content="site web à propos de la filature de laine Pallud."/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
   
  {% block head %}
    <title>{% block title %}{% endblock %} - Projet 5</title>
    <link rel="stylesheet" href="/public/css/style.css" />
  {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/public/js/slider.js"></script>
    <script src="/public/js/authentication.js"></script>
    



    
  {% endblock %}
  <div id="footer">
    {% block footer %}
    <div class="container-fluid"   style="margin-bottom:0">
      <div class="row">
        <div class="col-lg-12" id="footer">
        <p class="m-0 p-3 text-white">&copy; Copyright 2019 by Zarco.</p></div>
     </div>
    </div>      
    {% endblock %}
  </div>
</body>
</html>
